#hero-banner {
  background: url('../images/mobilio_rendered_drawing_edited.jpeg') no-repeat center center fixed;
  height: 600px;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  width: 100%;
  text-align: center;
  overflow: hidden;

  #main-heading {
    font-size: 4em;
    vertical-align: bottom;
  }

  #supporting-headline {
    vertical-align: top;
    font-size: 2em;
  }
}
