@import "Layout";
form {
  max-width: 100%;
  margin-top: .5em;
  div {
    label {
      font-size: 1em;
      margin-bottom: .1em;
    }

    input, textarea {
      width: 100%;
      margin: .1em auto .5em auto;
      padding: 7px;
      font-size: 1.3em;
      border: 1px solid dimgrey;
      border-radius: 5px;
      box-sizing: border-box;

      @media screen and (max-width: @tabletBreakpoint){

      }

      @media screen and (max-width: @mobileBreakpoint){
        padding: 7px;
        font-size: 1em;
      }

      &:focus {
        outline: 0;

        & + label {
          opacity: 0;
        }
      }

    }

    .container {
      display: block;
      position: relative;
      padding-left: 35px;
      cursor: pointer;
      margin: .5em auto 1em auto;
      -webkit-user-select: none;
      -moz-user-select: none;
      -ms-user-select: none;
      user-select: none;

      input {
        position: absolute;
        left: 0;
        top: 0;
        opacity: 0;
        cursor: pointer;
        height: 100%;
        width: 100%;
        z-index: 2;

        &:checked {
          & ~ .checkmark {
            background-color: @primaryBtnColor;

            &:after {
              display: block;
            }
          }
        }
      }

      &:hover {
        input {
          & ~ .checkmark {
            background-color: #ccc;
          }
        }
      }

      .checkmark {
        &:after {
          left: 9px;
          top: 5px;
          width: 5px;
          height: 10px;
          border: solid white;
          border-width: 0 3px 3px 0;
          -webkit-transform: rotate(45deg);
          -ms-transform: rotate(45deg);
          transform: rotate(45deg);
        }
      }
    }

    .checkmark {
      position: absolute;
      margin-top: 0;
      top: 0;
      left: 0;
      height: 25px;
      width: 25px;
      border: .5px solid darkgray;
      background-color: #eee;

      &:after {
        content: "";
        position: absolute;
        display: none;
      }
    }


  }

  .disclaimer {
    padding: 0 0;
    margin: 6px 0;
    font-size: .8em;
  }
}