html {
  scroll-behavior: smooth;
}
.grecaptcha-badge {
  opacity: 0;
}
.section-title {
  position: relative;
}
.section-title span {
  position: absolute;
  top: -60px;
}
body {
  font-family: Ubuntu, Geneva, sans-serif;
  background: snow;
  color: #444444;
  padding: 0;
  margin: 0;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  color: darkred;
  font-size: 3em;
}
h1 {
  margin-bottom: 0;
}
p,
span {
  margin-top: .2em;
}
.call-to-action-container {
  margin-top: .9em;
  padding: .4em 2em;
}
.call-to-action-container .call-to-action-btn {
  font-size: 2em;
  background-color: #8b0000;
  color: whitesmoke;
  border: none;
  outline: none;
  text-shadow: 2px 2px 3px dimgrey;
  padding: .4em 2em;
  border-radius: 10px;
  font-family: Ubuntu, Geneva, sans-serif;
}
.call-to-action-container .call-to-action-btn:hover {
  background-color: #7b0000;
  cursor: pointer;
}
.call-to-action-container .call-to-action-btn:active {
  background-color: #5b0000;
}
@media (max-width: 660px) {
  .call-to-action-container .call-to-action-btn {
    padding: .3em 0.5em;
    font-size: 1.3em;
  }
}
.modal {
  z-index: 5;
  opacity: 0;
  visibility: hidden;
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  text-align: left;
  background: rgba(0, 0, 0, 0.9);
  transition: opacity .25s ease;
}
.modal .modal__bg {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  cursor: pointer;
}
.modal .modal__inner {
  transition: top .25s ease;
  position: absolute;
  top: -20%;
  right: 0;
  bottom: 0;
  left: 0;
  width: 30%;
  height: 80%;
  margin: auto;
  overflow: auto;
  background: #fff;
  border-radius: 5px;
  padding: 1em 2em;
}
@media screen and (max-width: 1023px) {
  .modal .modal__inner {
    width: 50%;
  }
}
@media screen and (max-width: 660px) {
  .modal .modal__inner {
    width: 90%;
    box-sizing: border-box;
    height: 85%;
  }
}
.modal .modal__inner .modal__close {
  position: absolute;
  right: 1em;
  top: 1em;
  width: 1.1em;
  height: 1.1em;
  cursor: pointer;
}
.modal .modal__inner .modal__close:after,
.modal .modal__inner .modal__close:before {
  content: '';
  position: absolute;
  width: 2px;
  height: 1.5em;
  background: #ccc;
  display: block;
  transform: rotate(45deg);
  left: 50%;
  margin: -3px 0 0 -1px;
  top: 0;
}
.modal .modal__inner .modal__close:hover:after,
.modal .modal__inner .modal__close:hover:before {
  background: #aaa;
}
.modal .modal__inner .modal__close:before {
  transform: rotate(-45deg);
}
.registerButton {
  width: 100%;
  box-shadow: none;
  padding: 7px 5px;
  font-size: 2em;
  border-radius: 10px;
  outline: none;
  border: none;
  background-color: darkred;
  color: whitesmoke;
  font-family: Ubuntu, Geneva, sans-serif;
}
.registerButton:hover {
  background-color: #5b0000;
  cursor: pointer;
}
.modal-state {
  display: none;
}
.modal-state:checked + .modal {
  opacity: 1;
  visibility: visible;
}
.modal-state:checked + .modal .modal__inner {
  top: 0;
}
#floor-plans-container {
  width: 80%;
  margin: 0 auto;
  text-align: center;
}
@media (max-width: 660px) {
  #floor-plans-container {
    width: 100%;
  }
}
#floor-plans-container div {
  display: inline-block;
}
#floor-plans-container #floor-plan-buttons {
  vertical-align: top;
  margin: 0 auto;
  width: 30%;
}
@media (max-width: 660px) {
  #floor-plans-container #floor-plan-buttons {
    width: 100%;
  }
}
#floor-plans-container #floor-plan-buttons button {
  width: 80%;
  display: block;
  padding: .4em 0 .4em 0;
  margin: .8em auto;
  border-radius: 5px;
  font-size: 1.3em;
  text-align: center;
  border: 1px solid black;
  background-color: whitesmoke;
  outline: none;
}
@media (max-width: 660px) {
  #floor-plans-container #floor-plan-buttons button {
    padding: 0;
    display: inline;
    width: 40%;
    margin: .1em .1em;
  }
}
#floor-plans-container #floor-plan-buttons button:hover {
  background-color: darkred !important;
  color: white !important;
  cursor: pointer;
}
#floor-plans-container #floor-plan-buttons button:first-of-type {
  background-color: grey;
  color: white;
}
#floor-plans-container #floor-plan-image-box {
  margin: 0 auto;
  width: 70%;
}
@media (max-width: 660px) {
  #floor-plans-container #floor-plan-image-box {
    margin: 1em 0 0 0;
    width: 100%;
  }
}
#floor-plans-container #floor-plan-image-box .floor-plan {
  display: none;
  margin: 1em auto;
  width: 90%;
}
@media (max-width: 660px) {
  #floor-plans-container #floor-plan-image-box .floor-plan {
    width: 80%;
  }
}
#floor-plans-container #floor-plan-image-box .call-to-action-btn {
  padding: .3em 0.5em;
  font-size: 1.3em;
}
#floor-plans-container #floor-plan-image-box .floor-plan:first-of-type {
  display: block;
}
#floor-plans-container #floor-plan-image-box .gatsby-image-wrapper {
  min-width: 70%;
  min-height: 600px;
}
@media (max-width: 1023px) {
  #floor-plans-container #floor-plan-image-box .gatsby-image-wrapper {
    min-height: 500px;
    min-width: 100%;
  }
}
@media (max-width: 660px) {
  #floor-plans-container #floor-plan-image-box .gatsby-image-wrapper {
    min-height: 400px;
    min-width: 100%;
  }
}
/*# sourceMappingURL=FloorPlans.css.map */