#page-header {
  width: 100%;
  background: white;
  z-index: 100;
  -webkit-transition: all 0.3s;
  -moz-transition: all 0.3s;
  -o-transition: all 0.3s;
  transition: all 0.3s;
  padding: 0 5px;

  #main-logo {
    display: inline-block;
    width: 100px;
    max-height: 32px;
  }

  #header-links {
    display: inline-block;
    width: 70%;
    float: right;
    margin-right: 1em;
    text-align: right;
    margin-top: 3px;
    a {
      padding: 6px 6px;
      margin: 3px 3px;
      font-size: .8em;
      display: inline-block;
      border-radius: 5px;
      text-decoration: none;
      color: dimgrey;
    }

    a:hover, a.active {
      background-color: darkred;
      color: white;
    }
  }
}

#page-header.sticky {
  position: fixed;
  top: 0;
  background-color: #eeeeee;

}
