html {
  scroll-behavior: smooth;
}
.section-container {
  padding: 2em 0;
}
.grecaptcha-badge {
  opacity: 0;
}
.section-title {
  position: relative;
}
.section-title span {
  position: absolute;
  top: -60px;
}
body {
  font-family: Ubuntu, Geneva, sans-serif;
  background: snow;
  color: #444444;
  padding: 0;
  margin: 0;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  color: darkred;
  font-size: 3em;
  margin: 0;
}
p,
span {
  margin-top: .2em;
}
.call-to-action-container {
  margin-top: .9em;
  padding: .4em 2em;
}
.call-to-action-container .call-to-action-btn {
  font-size: 2em;
  background-color: #8b0000;
  color: whitesmoke;
  border: none;
  outline: none;
  text-shadow: 2px 2px 3px dimgrey;
  padding: .4em 2em;
  border-radius: 10px;
  font-family: Ubuntu, Geneva, sans-serif;
}
.call-to-action-container .call-to-action-btn:hover {
  background-color: #7b0000;
  cursor: pointer;
}
.call-to-action-container .call-to-action-btn:active {
  background-color: #5b0000;
}
@media (max-width: 660px) {
  .call-to-action-container .call-to-action-btn {
    padding: .3em 0.5em;
    font-size: 1.3em;
  }
}
.modal {
  z-index: 5;
  opacity: 0;
  visibility: hidden;
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  text-align: left;
  background: rgba(0, 0, 0, 0.9);
  transition: opacity .25s ease;
  max-width: 100vw;
}
.modal .modal__bg {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  cursor: pointer;
}
.modal .modal__inner {
  transition: top .25s ease;
  position: absolute;
  top: -20%;
  right: 0;
  bottom: 0;
  left: 0;
  width: 30%;
  height: 80%;
  margin: auto;
  overflow: auto;
  background: #fff;
  border-radius: 5px;
  padding: 1em 2em;
}
@media screen and (max-width: 1023px) {
  .modal .modal__inner {
    width: 50%;
  }
}
@media screen and (max-width: 660px) {
  .modal .modal__inner {
    width: 80%;
    box-sizing: border-box;
    height: 75%;
  }
}
.modal .modal__inner .modal__close {
  position: absolute;
  right: 1em;
  top: 1em;
  width: 1.1em;
  height: 1.1em;
  cursor: pointer;
}
.modal .modal__inner .modal__close:after,
.modal .modal__inner .modal__close:before {
  content: '';
  position: absolute;
  width: 2px;
  height: 1.5em;
  background: #ccc;
  display: block;
  transform: rotate(45deg);
  left: 50%;
  margin: -3px 0 0 -1px;
  top: 0;
}
.modal .modal__inner .modal__close:hover:after,
.modal .modal__inner .modal__close:hover:before {
  background: #aaa;
}
.modal .modal__inner .modal__close:before {
  transform: rotate(-45deg);
}
.registerButton {
  width: 100%;
  box-shadow: none;
  padding: 7px 5px;
  font-size: 2em;
  border-radius: 10px;
  outline: none;
  border: none;
  background-color: darkred;
  color: whitesmoke;
  font-family: Ubuntu, Geneva, sans-serif;
}
.registerButton:hover {
  background-color: #5b0000;
  cursor: pointer;
}
.modal-state {
  display: none;
}
.modal-state:checked + .modal {
  opacity: 1;
  visibility: visible;
}
.modal-state:checked + .modal .modal__inner {
  top: 0;
}
#hero-banner {
  background: url('../images/mobilio_rendered_drawing_edited.jpeg') no-repeat center center scroll;
  height: 700px;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  width: 100%;
  text-align: center;
  overflow: hidden;
}
#hero-banner #main-logo {
  max-width: 15%;
  margin: 0 auto;
}
@media (max-width: 660px) {
  #hero-banner #main-logo {
    max-width: 30%;
  }
}
#hero-banner #main-logo img {
  z-index: 1;
}
#hero-banner #main-card {
  margin-top: 170px;
  background: rgba(255, 255, 255, 0.4);
  padding: 15px 10px;
  border-radius: 10px;
}
@media (max-width: 660px) {
  #hero-banner #main-card {
    margin-top: 155px;
  }
}
#hero-banner #main-heading {
  color: dimgrey;
  font-weight: bolder;
  font-size: 4em;
  vertical-align: bottom;
  text-shadow: 2px 2px 2px whitesmoke;
}
@media (max-width: 660px) {
  #hero-banner #main-heading {
    font-size: 2em;
  }
}
@media (max-width: 1023px) {
  #hero-banner #main-heading {
    font-size: 3em;
  }
}
#hero-banner #supporting-headline {
  color: #444;
  font-size: 1.5em;
  text-shadow: 2px 2px 2px white;
  margin: 5px auto;
}
@media (max-width: 660px) {
  #hero-banner #supporting-headline {
    font-size: 1em;
    margin: 1em auto;
  }
}
@media (max-width: 1023px) {
  #hero-banner #supporting-headline {
    font-size: 1.2em;
  }
}
/*# sourceMappingURL=HeroBanner.css.map */