@import 'Layout';

#hero-banner {
  background: url('../images/mobilio_rendered_drawing_edited.jpeg') no-repeat center center scroll;
  height: 600px;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  width: 100%;
  text-align: center;
  overflow: hidden;


  #main-heading {
    color: dimgrey;
    font-weight: bolder;
    font-size: 4em;
    vertical-align: bottom;
    text-shadow: 2px 2px 2px whitesmoke;
  }

  #supporting-headline {
    vertical-align: middle;
    color: #444;
    font-size: 1.5em;
    text-shadow: 2px 2px 2px white;
    height: 2em;
  }

  #call-to-action-top {
    vertical-align: top;



  }
}