@import 'Layout';

#hero-banner {
  background: fade(@sponsorColor, 20%);
  padding-top: 0;
  width: 100%;
  text-align: center;
  overflow: hidden;
  border-bottom: 20px solid @sponsorColor;
  video {
    width: 100vw;
    max-height: 95vh;
    overflow: auto;
  }

}