@import 'Layout';

#hero-banner {
  background: fade(@sponsorColor, 20%);
  padding-top: 0;
  width: 100vw;
  text-align: center;
  overflow: hidden;

  video {
    width: 100vw;
  }

  .call-to-action-container {
  }

}