@fontFamily: Ubuntu, Geneva, sans-serif;
@primaryBtnColor:darkred;
@primary: 10px;
@buttonBorderRadius: 10px;
@mobileBreakpoint: 660px;

main {
  margin: 0 auto;
}

body {
  font-family: @fontFamily;
  background: snow;
}

h1,h2,h3,h4,h5,h6 {
  color: darkred;
  font-size: 3em;
}