@import 'Layout';

#location-container {
  background: #eee;
  padding: 1em 0;
}

#location-inner-container {
  width: 80%;
  margin: 0 auto;
  text-align: center;
  @media (max-width: @tabletBreakpoint) {
    width: 100%;
  }

  iframe {
    width: 95%;
    margin: 0 auto;
  }

  #location-kpi {
    margin-bottom: 1em;

    .kpi-card {
      display: inline-block;
      margin: 0 auto;
      width: 15%;


      span:first-of-type {
        margin: 0 auto;
        font-size: 4em;
        padding-bottom: 0;
        display: inline;
        font-weight: bold;

        @media (max-width: @tabletBreakpoint) {
          font-size: 2em;
        }

        @media (max-width: @computerBreakpoint) {
          font-size: 2em;
        }
      }

      span:first-of-type:hover {
        color: darkred;
      }

      span {
        font-size: 0.8em;
      }


      @media (max-width: @computerBreakpoint) {
        width: 20%;
        margin: 0 5%;
        text-align: left;
        div {
          display: inline;
          padding-left: .5em;
        }
      }

      @media (max-width: @tabletBreakpoint) {
        width: 40%;
        display: inline-block;
        text-align: center;
        div {
          display: block;
        }
      }
    }

  }
}
