@import '../components/layout';

#location {
  width: 80%;
  margin: 0 auto;
  text-align: center;

  iframe {
    width: 100%
  }

  #location-kpi {
    margin-bottom: 1em;

    .kpi-card {
      display: inline-block;
      margin: 0 auto;
      width: 15%;

      span:first-of-type {
        margin: 0 auto;
        font-size: 4em;
        padding-bottom: 0;
        display: inline;
        font-weight: bold;

        @media (max-width: @mobileBreakpoint) {
          font-size: 2em;
        }

        @media (max-width: @largeScreenBreakpoint) {
          font-size: 2em;
        }
      }

      span:first-of-type:hover {
        color: darkred;
      }

      span {
        font-size: 0.8em;
      }


      @media (max-width: @largeScreenBreakpoint) {
        width: 20%;
        margin: 0 5%;
        text-align: left;
        div {
          display: inline;
          padding-left: .5em;
        }
      }

      @media (max-width: @mobileBreakpoint) {
        width: 40%;
        display: inline-block;
        text-align: center;
        div {
          display: block;
        }
      }
    }

  }


}
